@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  margin: 0;
  font-family: "Sonsie One", system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* globals.css */
.btn {
  padding: 4px 8px;
  margin-top: 16px;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2563eb;
}

/* globals.css or about.module.css */
.poppins-font {
  font-family: 'Poppins', sans-serif;
}


.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 1s linear infinite;
  width: 180%;
}

@keyframes slide {
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.move-text {
  display: inline-block;
  white-space: nowrap;
  animation: slide 6s linear infinite;
}